body{
    background-color: #F7F9FB;
}

#card_menuLateral{
    height: 150%;  
    width: 90%; 
    margin-left:10%;
    
}

.card{
    border-radius: 15px; 
    border-width:0px; 
    box-shadow: 0px 0px 1px 0px #707070;   
}

#rowCard{
    margin-top: 10%;
}

#lista-menuLateral{
    margin-top: 15%;
}

.list-group-flush{
    margin-top: 20%;

}

#card-registroAlumno{
    width: 95%;
}

#modal-reigstroAlumno{
    border-radius: 20px;
    border-width:0px; 
    box-shadow: 0px 0px 1px 0px #707070;   
    text-align: center;
    
}

input{
    height: 160%;
    
}

input:hover{
    border-color: #8C6CEE;
}

#row-modal{
    margin-top: 7%;
}

#inputState{
    height: 160%;
    
}
#inputState:hover{
    border-color: #8C6CEE;
}

#boton-registrarAlumno{
    height: 140%;
    width: 60%;
    background-color: #42C392;
    border-width: 0px;
}

#boton-agregarAlumno{
    background-color: #42C392;
    border-width: 0px;
    
}

#das{
    margin-bottom: 6%;
}



.list-group-item{
    text-decoration: none;
}

a{
    text-decoration: none;
}
